<div class="flex h-2" aria-hidden="true">
  <div class="flex-1 bg-green-400"></div>
  <div class="flex-1 bg-green-800"></div>
  <div class="flex-1 bg-teal-500"></div>
  <div class="flex-1 bg-blue-600"></div>
  <div class="flex-1 bg-purple-600"></div>
  <div class="flex-1 bg-pink-800"></div>
  <div class="flex-1 bg-red-600"></div>
  <div class="flex-1 bg-orange-500"></div>
  <div class="flex-1 bg-yellow-500"></div>
  <div class="flex-1 bg-gray-300"></div>
</div>