<footer role="contentinfo" class="bg-gray-100 py-6">
  <div class="mx-6 sm:mx-16 text-xs text-center md:text-left">
    <p><a href="/contact">Contact</a></p>
    <p><a href="https://github.com/40thieves/alasdairsmith.co.uk">Code</a> released under a Parity 6.0 license.</p>
  </div>
</footer>
