<header role="banner">
  <div class="flex justify-center md:justify-start md:mx-16">
    <h1 class="mt-12 mb-2 text-4xl inline-block">
      <a href="/" class="flex text-gray-700 hover:text-gray-900 no-underline leading-tight">
        <span class="flex flex-col">
          Alasdair
          <span class="text-right font-light uppercase italic">Smith</span>
        </span>
        <span class="border-l border-gray-700 mx-3" aria-hidden="true"></span>
        <span class="flex flex-col">
          40
          <span class="text-right font-light uppercase italic">Thieves</span>
        </span>
      </a>
    </h1>
  </div>
</header>
