---
import { getCollection, render } from 'astro:content'
import BaseLayout from '../../layouts/base.astro'

export async function getStaticPaths() {
  const notes = await getCollection('notes')
  console.log(notes)
  return notes.map((note) => ({
    params: { id: note.id },
    props: { note }
  }))
}

const { note } = Astro.props
const { Content } = await render(note)
---

<BaseLayout title={note.data.title}>
  <h1>{note.data.title}</h1>
  <Content />
</BaseLayout>
