{{> header titlePrefix="Contact - " showAvatar=true}}

<main class="content wrap" role="main">
	<section class="contact">
		<h1>Contact details</h1>
		<div class="vcard">
			<p>
				<a class="fn url" rel="me" href="http://alasdairsmith.co.uk">
					<span class="given-name">Alasdair</span> 
					<span class="family-name">Smith</span>
				</a>
			</p>

			<p>
				<a class="email" href="mailto:alasdairsmith100@gmail.com">Email</a>
			</p>

			<p>
				<a class="url" rel="me" href="http://twitter.com/40_thieves">Twitter</a>
			</p>

			<p>
				<a class="url" rel="me" href="http://github.com/40thieves">Github</a>
			</p>

			<p>
				<a href="callto:alismith5" rel="me">Skype</a>
			</p>

			<span class="nickname">fortythieves</span>
			<a class="url contact-url" href="http://alasdairsmith.co.uk/contact">Contact URL</a>
			<img class="photo" src="/assets/img/photo-600.jpg">

			<p class="download">
				Download 
				<a href="http://h2vx.com/vcf/alasdairsmith.co.uk/contact" title="My vcard">a vcard</a>
			</p>
		</div>
	</section>
</main>

{{> footer}}
