---
import { getEntry, render } from 'astro:content'
import FullLayout from '../../layouts/full.astro'
import { formatDate } from '../../utils'

const { id } = Astro.params
if (id === undefined) return Astro.redirect('/404')

const journalEntry = await getEntry('journalEntries', id)
if (journalEntry === undefined) return Astro.redirect('/404')

const { Content } = await render(journalEntry)
---

<FullLayout title={journalEntry.data.title}>
  <article class="flow">
    <h1>{journalEntry.data.title}</h1>
    <time datetime={journalEntry.data.publishedDate.toISOString()}
      >{formatDate(journalEntry.data.publishedDate)}</time
    >

    <Content />
  </article>
</FullLayout>
