---
import { getEntry, render } from 'astro:content'
import FullLayout from '../../layouts/full.astro'
import { formatDateFull } from '../../utils'

const { id } = Astro.params
if (id === undefined) return Astro.redirect('/404')

const journalEntry = await getEntry('journalEntries', id)
if (journalEntry === undefined) return Astro.redirect('/404')

const { Content } = await render(journalEntry)
---

<style>
  .dt-published {
    font-size: 0.9em;
  }
</style>

<FullLayout title={journalEntry.data.title}>
  <article class="flow h-entry">
    <h1 class="p-name">{journalEntry.data.title}</h1>
    <span>
      Posted on
      <time
        datetime={journalEntry.data.publishedDate.toISOString()}
        class="dt-published"
        >{formatDateFull(journalEntry.data.publishedDate)}</time
      >
    </span>

    <div class="e-content">
      <Content />
    </div>
  </article>
</FullLayout>
