<!doctype html>
<html lang="en">

{{> head}}

<body>
  <div style="height: 100vh; display: grid; grid-template-rows: min-content min-content auto min-content">
    {{> colorBar}}
    {{> header}}

    {{{content}}}
  </div>

  <script type="text/javascript" src="/js/script.js"></script>
</body>

</html>