<!doctype html>
<html lang="en">

{{> head}}

<body>
  <div class="h-screen grid grid-rows-layout">
    {{> colorBar}}
    {{> header}}

    {{{content}}}
  </div>

  <script type="text/javascript" src="/js/script.js"></script>
</body>

</html>