.avatar {
	text-align: center;
	position: relative;
	margin: 25px auto;
	
	.avatar-wrapper::before {
		position: absolute;
		background-color: white;
		content: '';
		height: 150px;
		width: 10px;
	}
	
	img {
		width: 150px;
		height: 150px;
		border-radius: 75px;
	}
	
	@media only screen and (min-width: 768px) {
		.avatar-wrapper::before {
			height: 300px;
		}

		img {
			width: 300px;
			height: 300px;
			border-radius: 150px;
		}
	}
}