footer {
	position: relative;
	padding: 1.7rem 0;
	border-top: 1px solid $lighter-grey;
	background: $lightest-grey;
	margin-top: 2rem;
	
	font-size: 0.7rem;
	line-height: 1.5em;
	color: $light-med-grey;
	text-align: center;

	p {
		margin: 0;
	}

	a {
		color: $med-grey;

		&:hover {
			color: $dark-grey;
		}
	}

	.inner {
		text-align: left;
	}

	.built-with {
		font-size: 0.5rem;
	}

	@media only screen and (min-width: 768px) {
		text-align: left;
	}
}