.links {
	ul {
		display: flex;
		flex-direction: column;
		padding: 0;
	}

	li {
		width: 100%;
		list-style: none;
		margin: 0;
		padding: 0;
	}

	a {
		margin: 3px 0;
		padding: 20px 0;
		display: block;
		text-align: center;
		font-size: 130%;
		border: 1px solid $light-grey;

		&#blog {
			background: transparentize($light-green, 0.8);
		}

		&#email {
			background: transparentize($turqoise, 0.8);
		}

		&#twitter {
			background: transparentize($light-blue, 0.8);
		}

		&#github {
			background: transparentize($light-purple, 0.8);
		}

		&#delicious {
			background: transparentize($light-red, 0.8);
		}

		&#flickr {
			background: transparentize($yellow, 0.8);
		}
	}

	@media only screen and (min-width: 770px) {
		ul {
			flex-direction: row;
		}

		li {
			margin: 0 5px;

			&:first-of-type {
				margin-left: 0;
			}

			&:last-of-type {
				margin-right: 0;
			}
		}
	}
}
