---
import FullLayout from '../layouts/full.astro'
---

<FullLayout title="Not Found">
  <article class="flow">
    <h1>Not Found</h1>
    <p>Looks like the page you're looking for can't be found&hellip;</p>
  </article>
</FullLayout>
