---
import FullLayout from '../layouts/full.astro'
---

<FullLayout title="Error">
  <article class="flow">
    <h1>Error</h1>
    <p>Something has gone very wrong&hellip;</p>
  </article>
</FullLayout>
