---
import FullLayout from '../layouts/full.astro'
import Image from 'astro/components/Image.astro'
import headshotImg from '../images/headshot.jpg'

export const prerender = false
---

<style>
  article {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
    align-items: center;

    @media (width > 550px) {
      grid-template-columns: minmax(5rem, 33%) 1fr;
    }
  }

  .profile {
    display: grid;
    justify-items: center;

    img {
      border-radius: 9999px;

      @media (width < 550px) {
        max-inline-size: 66%;
      }
    }
  }

  [aria-label='Links'] {
    grid-column: 1 / -1;
    font-size: 1.2em;

    ul {
      list-style: none;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, min-content);
      row-gap: 1rem;
      justify-items: center;

      @media (width > 550px) {
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }
</style>

<FullLayout>
  <article>
    <div class="profile">
      <Image src={headshotImg} alt="Alasdair Smith" />
    </div>
    <div class="flow">
      <p>Hi, I'm Alasdair Smith, although I usually go by Ali.</p>

      <p>
        I'm a frontend-focused engineer and leader at <a
          href="https://natcapresearch.com/">Natcap</a
        >. I'm volunteer at <a href="https://codeyourfuture.io/"
          >Code Your Future</a
        >, as a teacher and core maintainer on the Curriculum Team. I enjoy
        getting outdoors, hiking and running.
      </p>
    </div>
    <nav aria-label="Links">
      <ul>
        <li>
          <a href="mailto:ali@alasdairsmith.co.uk">Email</a>
        </li>
        <li>
          <a href="https://mastodon.social/@fortythieves" rel="me">Mastodon</a>
        </li>
        <li>
          <a href="https://bsky.app/profile/forty-thieves.bsky.social"
            >Bluesky</a
          >
        </li>
        <li>
          <a href="https://github.com/40thieves" rel="me">GitHub</a>
        </li>
      </ul>
    </nav>
  </article>
</FullLayout>
