---
layout: layouts/no-header
title: Voice Over Cheat Sheet
---

<header class="flex justify-center md:justify-start md:mx-16" role="banner">
  <h1 class="mt-12">Voice Over Cheat Sheet</h1>
</header>

<main class="mx-auto w-5/6 max-w-5xl mt-12 grid md:grid-cols-2 grid-cols-1 gap-4">
  {{#each sections}}
  <article>
    <h2 class="pl-2 mb-2 bg-green-600 text-white text-2xl">{{ name }}</h2>
    <dl class="mt-1 pl-2 grid grid-gap-2" style="grid-template-columns: 1fr 2fr;">
      {{#each tasks}}
        <dt>{{ description }}</dt>
        <dd>{{#join command "+"}}<kbd class="px-1 py-px m-2 first:ml-0 last:mr-0 bg-gray-200 border border-gray-300 rounded">{{ this }}</kbd>{{/join}}</dd>
      {{/each}}
    </dl>
  </article>
  {{/each}}
</main>
