---
const gridAwareDisabled = Astro.locals.gridAwareDisabled
const gridAwareCarbonIntensityLevel = Astro.locals.gridAwareCarbonIntensityLevel
---

<style>
  details {
    display: grid;
    gap: 0.5rem;

    font-size: 0.75em;

    margin-inline: 2rem;
    @media (width < 500px) {
      margin-inline: 1rem;
    }
    padding: 0 0.5rem 0.5rem;

    border-end-start-radius: 0.5rem;
    border-end-end-radius: 0.5rem;

    --summary-content: '▸';
    &[open] {
      --summary-content: '▾';
      background-color: var(--clr-primary);
    }

    a {
      color: inherit;
    }
  }

  summary {
    justify-self: center;
    display: inline-flex;
    gap: 0.25rem;
    background-color: var(--clr-primary);
    padding-inline: 0.5rem;
    border-end-start-radius: 0.5rem;
    border-end-end-radius: 0.5rem;
    cursor: pointer;

    &:before {
      content: var(--summary-content);
      text-box-trim: trim-both;
    }
  }
</style>

<grid-aware-control
  data-carbon-intensity-level={gridAwareCarbonIntensityLevel}
  data-disabled={gridAwareDisabled}
>
  <details>
    <summary>Grid Aware</summary>
    <div>
      This site is Grid Aware, meaning that it changes its design based on the
      quantity of fossil fuels on your nearest energy grid. <a
        href="/grid-aware">Learn more.</a
      >
    </div>
  </details>
</grid-aware-control>

<script>
  function toSentenceCase(input: string) {
    return input.charAt(0).toUpperCase() + input.substring(1)
  }

  class GridAwareControl extends HTMLElement {
    constructor() {
      super()
    }

    private $summary = this.querySelector('summary')

    connectedCallback() {
      const disabled = this.dataset.disabled === 'true'
      const carbonIntensityLevel = this.dataset.carbonIntensityLevel

      if (this.$summary) {
        let status = 'Disabled'
        if (!disabled && carbonIntensityLevel != null) {
          status = `${toSentenceCase(carbonIntensityLevel)} carbon`
        }

        this.$summary.textContent = `Grid Aware: ${status}`
      }
    }
  }

  customElements.define('grid-aware-control', GridAwareControl)
</script>
