<footer role="contentinfo">
  <div class="wrap wide clearfix">
    <p><a href="/contact">Contact</a></p>
    <p>Content &copy; Alasdair Smith {{year}}.</p>
    <p><a href="https://github.com/40thieves/alasdairsmith.co.uk">Code</a> released under an MIT license.</p>
  </div>
</footer>

<script type="text/javascript" src="/assets/js/leet.js"></script>
<script>
  if ('serviceWorker' in navigator) {
    window.addEventListener('load', function() {
      navigator.serviceWorker.register('/sw.js')
        .then(function() {
          console.log('SW registration successful')
        })
        .catch(function() {
          console.log('SW registration error')
        })
    })
  }
</script>
</body>
</html>
