---
layout: layouts/default
title: Not Found
---

<main class="mx-auto w-5/6 max-w-3xl">
  <h2>Oh noes! Not Found</h2>
  <p class="my-10">Looks like the page you're looking for can't be found&hellip;</p>
</main>

{{> footer}}
