{{> header titlePrefix="404 Not Found - "}}

<main id="content" role="main" class="wrap clearfix">
  <section>
    <h1>Oh noes! 404 Error</h1>

    <p>Looks like the page you're looking for can't be found...</p>
    <p>Would you like to go <a href="/">home</a>?</p>
  </section>
</main>

{{> footer}}
