{{> header titlePrefix="500 Server Error - "}}

<main id="content" role="main" class="wrap clearfix">
  <section>
    <h1>Oh noes! 500 Error</h1>

    <p>There was a server error.</p>
    <p>Try again, or go <a href="/">home</a>.</p>
  </section>
</main>

{{> footer}}
