---
layout: layouts/default
title: Contact
---

<main class="mx-auto w-5/6 max-w-3xl">
  {{> masthead}}

  <article>
    <h2>Contact details</h2>
    <div class="h-card mb-10">
      <p class="my-1 p-3 bg-gray-200 hover:bg-gray-300 text-blue-700">
        <span class="p-given-name">Alasdair</span>
        <span class="p-family-name">Smith</span>
      </p>
      <a class="u-url block my-1 p-3 bg-gray-200 hover:bg-gray-300" rel="me" href="http://alasdairsmith.co.uk">Website</a>
      <a class="u-email block my-1 p-3 bg-gray-200 hover:bg-gray-300" href="mailto:alasdairsmith100@gmail.com">Email</a>
      <a class="u-url block my-1 p-3 bg-gray-200 hover:bg-gray-300" rel="me" href="http://github.com/40thieves">GitHub</a>
    </div>
  </article>
</main>

{{> footer}}
