---
layout: layouts/default
title: CV
---

<main class="mx-auto mt-12 w-3/5 max-w-6xl">
  <article>
    <section>
      <p>
        Technical people leader dedicated to building teams that excel in
        creating web apps. I take a people-first approach, embracing empathy and
        curiosity. I'm guided by evidence while staying pragmatic.
      </p>
      <p class="my-2">
        With 10 years of experience, I'm skilled in mentoring and coaching to
        grow my team, defining frontend strategy and aligning engineering with
        business needs.
      </p>
    </section>

    <section class="mt-4">
      <p><a href="http://alasdairsmith.co.uk">alasdairsmith.co.uk</a></p>
      <p>
        <a href="mailto:ali@alasdairsmith.co.uk">ali@alasdairsmith.co.uk</a>
      </p>
    </section>

    <section class="mt-12">
      <h2 class="text-2xl">Experience</h2>

      <div id="overleaf-em" class="mt-8">
        <h3 class="text-lg">
          Engineering Manager, <a href="https://www.overleaf.com/">Overleaf</a>
        </h3>
        <p class="text-gray-700 mt-1 mb-3">
          <time datetime="2020-10">October 2020</time> - Ongoing
        </p>

        <p class="my-2">
          I moved into an EM role at Overleaf, newly created as we rapidly
          scaled. I worked to establish management structures and processes;
          while managing a team of 6 cross-functional engineers building in
          TypeScript/JavaScript. I defined frontend strategy and directed
          modernisation of the frontend codebase.
        </p>

        <ul class="mt-6 pl-5 list-disc">
          <li>
            Mentored a junior engineer via regular pairing sessions to complete
            a year-long project
          </li>
          <li>
            Successfully supported an under-performing team member on a PIP to
            improve performance
          </li>
          <li>
            Coached a senior engineer who expressed an interest in transitioning
            into a management role
          </li>
          <li>
            Created career progression framework and processes, rolling it out
            across the organisation
          </li>
          <li>
            Defined engineer onboarding process and iterated based on feedback
          </li>
          <li>
            Planned and executed an incremental migration from Angular v1 to
            React. Test coverage, security and developer productivity were all
            significantly improved
          </li>
          <li>
            Working closely with Product, identified and prioritised key
            behaviours when migrating the core editor within the application to
            the modern CodeMirror 6 library
          </li>
          <li>
            Successfully hired two peer Engineering Managers, meeting regularly
            to get them up to speed
          </li>
        </ul>
      </div>

      <div id="overleaf-se" class="mt-8">
        <h3 class="text-lg">
          Senior Engineer, <a href="https://www.overleaf.com/">Overleaf</a>
        </h3>
        <p class="text-gray-700 mt-1 mb-3">
          <time datetime="2016-02">February 2016</time> - <time datetime="2020-10">October 2020</time>
        </p>

        <p class="my-2">
          Working in a small startup environment, building a collaborative,
          real-time web-based LaTeX editor. I initially focused on frontend
          development with React and the text editing library CodeMirror v5.
          After Overleaf acquired ShareLaTeX I was a key contributor to the
          integration of the two products, completed within the deadline of 2
          years. This involved working across codebases based on Angular v1,
          Node, Ruby on Rails, MongoDB, PostgreSQL.
        </p>

        <ul class="mt-6 pl-5 list-disc">
          <li>
            Integrated a WYSIWYG-esque editor into the codebase, alongside the
            existing plain text editor. Existing APIs needed to be adapted to
            work with both editors
          </li>
          <li>
            Involved in various key integration projects, including allowing for
            importing of millions of projects and designing/testing launch plan
            for user account migration
          </li>
          <li>
            Implemented a new project history view in React, allowing users to
            more easily restore old versions
          </li>
          <li>
            Migrated codebase away from CoffeeScript, greatly improving
            developer productivity
          </li>
          <li>
            Investigated and mitigated potential XSS security vulnerabilities in
            Angular v1 code
          </li>
          <li>
            Migrated frontend build system from outdated Grunt/RequireJS system
            to Webpack, cutting bundle size and greatly improving readability
          </li>
          <li>
            Mentored a junior engineer, regularly pairing to solve problems
            together and share knowledge
          </li>
          <li>
            Run fortnightly lunch-and-learn talk series, providing knowledge
            sharing opportunities
          </li>
          <li>
            Delivered a talk on testing for accessibility issues at a local
            meetup
          </li>
          <li>
            Introduced Prettier and linting tools to improve consistency and
            developer efficiency
          </li>
        </ul>
      </div>

      <div id="radweb" class="mt-8">
        <h3 class="text-lg">
          Web Developer, <a href="https://radweb.com/">Radweb Ltd.</a>
        </h3>
        <p class="text-gray-700 mt-1">
          <time datetime="2014-07">July 2014</time> - <time datetime="2016-02">February 2016</time>
        </p>
        <p class="text-gray-700 mb-3">
          <time datetime="2012-06">June 2012</time> - <time datetime="2013-07">July 2013</time> (Industrial Placement)
        </p>

        <p class="my-2">
          Initially employed as part of my university industrial placement, then
          I was offered a full time position after graduating. I developed
          several web applications using Laravel PHP, MySQL and Backbone.js.
        </p>

        <ul class="mt-6 pl-5 list-disc">
          <li>
            Led development of new features, including a customisable
            dictionary tool, task price prediction, a new calendar and
            scheduler tool
          </li>
          <li>
            Refactored core parts of the web application, using a command bus
            architecture, optimising performance and maintainability
          </li>
          <li>
            Used automated testing frameworks to ensure confidence in the code
          </li>
          <li>
            Working with a large, mission critical database
          </li>
          <li>
            Assisted with devops, using Ansible for deployment
          </li>
        </ul>
      </div>
    </section>

    <section class="mt-12">
      <h2 class="text-2xl">Additional Experience</h2>

      <div id="cyf" class="mt-8">
        <h3 class="text-lg">
          Syllabus Team Member and Teacher, <a href="https://codeyourfuture.io/">Code Your Future</a>
        </h3>
        <p class="text-gray-700 mt-1 mb-3">
          <time datetime="2017-10">October 2017</time> - Ongoing
        </p>

        <p class="my-2">
          Volunteering at Code Your Future, a charity that teaches refugees and
          other disadvantaged people how to code. As a Teacher, I delivered
          lessons and mentored trainees to build mental models. Collaborating
          with the Syllabus Team, I shaped the direction of the curriculum. I'm
          passionate about improving diversity across the industry.
        </p>

        <ul class="mt-6 pl-5 list-disc">
          <li>
            Created and reviewed learning materials, as part of the
            <a href="https://github.com/codeyourfuture/curriculum">open source
            curriculum</a>
          </li>
          <li>
            Formed the Tech Ed Syllabus Team, adding structure as the
            organisation scaled to significantly more trainees
          </li>
          <li>
            Created and reviewed technical writing about HTML, CSS, JavaScript,
            React, Express
          </li>
          <li>
            Started a teacher training programme, based on best practices from
            pedagogy
          </li>
          <li>
            Led teaching of the React module for 5 cohorts, iterating based on
            feedback and results. This required a very strong mental model of
            how React works
          </li>
          <li>
            Taught various technical and professional development skills for
            several cohorts
          </li>
          <li>
            Hired a Code Your Future graduate onto my team while at Overleaf
          </li>
        </ul>
      </div>
    </section>

    <section class="my-12">
      <h2 class="text-2xl">Education</h2>
    
      <div id="portsmouth" class="mt-8">
        <h3 class="text-lg">BSc Web Technologies (First Class), University of Portsmouth</h3>
        <p class="text-gray-700 mt-1 mb-3">September 2010 - July 2014</p>
      </div>
    </section>
</main>

{{> footer}}
