---
layout: layouts/default
title: CV
---

<main class="mx-auto mt-12 w-3/5 max-w-6xl">
  <article>
    <section>
      <p>
        An enthusiastic and hard working full stack web developer, with skills
        in Javascript, PHP, HTML, CSS, MySQL and server administration. Trusted
        member of a team in the workplace, with diverse responsibilities ranging
        from developing feature requests and problem solving to risk management.
        Proficient in leadership and communication, with ability to work in a
        team and independently. Seeking to further my career in web development
        at an exciting and forward thinking company.
      </p>
    </section>

    <section class="mt-4">
      <p><a href="http://alasdairsmith.co.uk">alasdairsmith.co.uk</a></p>
      <p>
        <a href="mailto:ali@alasdairsmith.co.uk">ali@alasdairsmith.co.uk</a>
      </p>
      <p>8 Summit Close, Finchampstead, Wokingham, Berks, RG40 3LH</p>
      <p>07952 111281</p>
    </section>

    <section class="mt-12">
      <h2 class="text-2xl">Experience</h2>

      <div id="radweb-placement" class="mt-5">
        <h3 class="text-lg">Web Developer, Radweb Ltd.</h3>
        <p class="text-gray-700 mt-1 mb-3">July 2014 - Ongoing</p>
        <h3 class="text-lg">Web Developer (Industrial Placement), Radweb Ltd.</h3>
        <p class="text-gray-700 mt-1 mb-3">June 2012 - July 2013</p>

        <p class="my-2">
          Initially employed as part of my university industrial placement, but
          offered a full time position after graduating. Worked extensively on
          developing InventoryBase.com, a web application with a RESTful JSON
          API built with Laravel PHP components, backed by a MySQL database,
          with a rich Backbone.js client. Currently working to scale and
          refactor the code with improved high-level architectures. Working
          within a small team as a lead on several projects.
        </p>

        <div>
          <p>Experience gained:</p>
          <ul class="mt-1 pl-5">
            <li>
              Leading development of new features for the web application,
              including a customisable dictionary tool, task price prediction, a
              new calendar view and a clerk scheduler and availability tool
            </li>
            <li>
              Refactoring and rewriting a core part of the web application,
              working to optimise performance and maintainability
            </li>
            <li>
              Working with others in a software team, using git as a core
              workflow
            </li>
            <li>
              Communicating with others to organise and prioritise feature
              requests and bug reports
            </li>
            <li>Using automated testing to develop and improve code</li>
            <li>
              Developing for a scalable RESTful API with a command bus
              architecture
            </li>
            <li>
              Using modern web technologies to develop a Javascript client
            </li>
            <li>
              Assisted in server maintenance and devops, and using Ansible to
              test and deploy web applications
            </li>
            <li>Working with a large, mission critical database</li>
            <li>Working with a variety of open source libraries and plugins</li>
            <li>Designing web pages with responsive design</li>
          </ul>
        </div>
      </div>
    </section>

    <section class="mt-12">
      <h2 class="text-2xl">Education</h2>

      <div id="portsmouth" class="mt-5">
        <h3 class="text-lg">BSc Web Technologies (First Class), University of Portsmouth</h3>
        <p class="text-gray-700 mt-1 mb-3">September 2010 - July 2014</p>

        <p class="my-2">
          First Class degree which focused on technologies that underlie the
          modern web, as well as many other aspects of computing. Subjects
          include Web Research; Enterprise Web Architectures; Data Warehousing
          and Mining; Databases; Web Scripting and Programming; Computer
          Graphics and Vision and Object Oriented Programming in Java. Produced
          a web-based visualisation tool enabling researchers to study changes
          in scientific metrics as they change over time, part of a final year
          project, which won a Best Information Systems Project prize.
        </p>

        <div>
          <p>Developed abilities to:</p>
          <ul class="mt-1 pl-5">
            <li>Write programs in PHP, Javascript, Python and Java</li>
            <li>Design, build and maintain web sites and apps</li>
            <li>Work independently and in teams on project work</li>
            <li>
              Develop new programming solutions, and to adapt to new languages
            </li>
            <li>Conduct research using different tools and sources</li>
          </ul>
        </div>
      </div>

      <div id="cardiff" class="mt-5">
        <h3 class="text-lg">Biochemistry (Years 1 &amp; 2), Cardiff University</h3>
        <p class="text-gray-700 mt-1 mb-3">September 2007 - June 2009</p>

        <p class="my-2">
          Developed a firm foundation of knowledge of many aspects of the
          Biosciences. Subjects included genetics, micro-organisms, cell
          biology, metabolism and physiology. Left after two years to pursue an
          interest in Computing.
        </p>

        <div>
          <p>Developed skills to:</p>
          <ul class="mt-1 pl-5">
            <li>Research and test a hypothesis thoroughly</li>
            <li>
              Work independently, setting deadlines and managing time when under
              pressure
            </li>
          </ul>
        </div>
      </div>
    </section>

    <section class="mt-12">
      <h2 class="text-2xl">Additional Experience</h2>

      <div id="british-red-cross" class="mt-5">
        <h3 class="text-lg">Digital Fundraising Intern, British Red Cross</h3>
        <p class="text-gray-700 mt-1 mb-3">March 2010 - June 2010</p>

        <p class="my-2">
          Worked as an Intern within the Digital Fundraising team. Focus of the
          work was maintaining and improving the donation section of the
          redcross.org.uk web site. Gained practical experience of working in a
          team and in the workplace.
        </p>

        <div>
          <p>Roles included:</p>
          <ul class="mt-1 pl-5">
            <li>Conducting usability study on competitor charity web sites</li>
            <li>Search optimisation using Google Analytics</li>
          </ul>
        </div>
      </div>

      <div id="kisc" class="mt-5">
        <h3 class="text-lg">Summer Hike Guide, Kandersteg International Scout Centre, Switzerland</h3>
        <p class="text-gray-700 mt-1 mb-3">June 2010 - September 2010</p>
        <h3 class="text-lg">Snow &amp; Ice Guide, Kandersteg International Scout Centre, Switzerland</h3>
        <p class="text-gray-700 mt-1 mb-3">June 2011 - September 2011</p>

        <p class="my-2">
          Volunteer, working as a Hike guide and a Mountaineering instructor as
          part of a large international team. Role involved taking groups of
          Scouts (aged between 10 and 18) hiking around the Swiss Alps, often
          including an overnight stay in a mountain hut. The role also included
          serving guests at the reception and working on the campsite.
        </p>

        <div>
          <p>Gained experience of:</p>
          <ul class="mt-1 pl-5">
            <li>Leadership and communication skills</li>
            <li>Problem solving and using initiative in remote surroundings</li>
            <li>Management in extreme environments</li>
            <li>Team-working skills in a busy work environment</li>
            <li>
              Dealing with customers in a friendly and professional manner at
              the reception
            </li>
          </ul>
        </div>
      </div>
    </section>

    <section class="mt-12">
      <h2 class="text-2xl">Interests</h2>

      <div id="scouts" class="mt-5">
        <h3 class="text-lg">Scouts</h3>

        <div>
          <ul>
            <li>
              Assistant Cub leader (age-group: 8-10) and Assistant Scout leader
              (age-group: 10-14).
            </li>
            <li>
              Involved in regularly in weekly meetings, running activities and
              passing on knowledge.
            </li>
            <li>Organised summer camps, meetings and special activities.</li>
            <li>
              Working to complete a walking leadership qualification to lead
              Scout groups on mountains.
            </li>
          </ul>
        </div>
      </div>

      <div id="outdoor-sports" class="mt-5">
        <h3 class="text-lg">Outdoor Sports</h3>

        <div>
          <ul>
            <li>
              Have been skiing for more than 10 years visiting the Alps many
              times.
            </li>
            <li>
              Have been hiking many times in the UK and in Europe. Completed the
              Three Peaks Challenge.
            </li>
            <li>Enjoy mountaineering and climbing.</li>
          </ul>
        </div>
      </div>

      <div id="hackathons" class="mt-5">
        <h3 class="text-lg">Hackathons</h3>

        <div>
          <ul>
            <li>
              Participated in four Pub Hacks, building applications in less than
              12 hours based on a theme.
            </li>
            <li>
              Won "Most Likely To Commercially Succeed" and "Best Technology"
              prizes.
            </li>
          </ul>
        </div>
      </div>

      <div id="ultimate" class="mt-5">
        <h3 class="text-lg">Ultimate Frisbee</h3>

        <div>
          <ul>
            <li>
              Started playing Ultimate Frisbee at university, and played in
              several tournaments.
            </li>
          </ul>
        </div>
      </div>
    </section>

    <div class="my-6">
      <small>Last updated: 29th Oct 2015</small>
    </div>
  </article>
</main>

{{> footer}}
