---
layout: layouts/default
---

<main class="mx-auto w-5/6 max-w-3xl">
  {{> masthead}}

  <article>
    <p class="py-1">
      Hi, I'm Alasdair Smith, although I usually go by Ali, and I'm a web developer working in London, UK.
    </p>

    <p class="py-1">
      I'm a web developer for <a href="https://www.overleaf.com">Overleaf</a>, specialising in frontend and advocating
      for open science. I mentor at <a href="https://codeyourfuture.io/">CodeYourFuture</a>. I enjoy watching F1,
      Scouting, hiking, camping and playing Ultimate.
    </p>
  </article>

  <nav class="my-5" aria-label="Links">
    <ul class="grid grid-cols-1 md:grid-cols-4 gap-2">
      <li><a href="http://40thiev.es" rel="me" class="block py-4 bg-pastel-green border border-gray-300 text-blue-800 text-center text-xl">Blog</a></li>
      <li><a href="mailto:alasdairsmith100@gmail.com" class="block py-4 bg-pastel-blue border border-gray-300 text-blue-800 text-center text-xl">Email</a></li>
      <li><a href="http://twitter.com/40_thieves" rel="me" class="block py-4 bg-pastel-blue border border-gray-300 text-blue-800 text-center text-xl">Twitter</a></li>
      <li><a href="https://github.com/40thieves" rel="me" class="block py-4 bg-pastel-purple border border-gray-300 text-blue-800 text-center text-xl">Github</a></li>
    </ul>
  </nav>
</main>

{{> footer}}
