---
layout: layouts/default
---

<main class="mx-auto w-5/6 max-w-3xl">
  {{> masthead}}

  <article>
    <p class="py-1">
      Hi, I'm Alasdair Smith, although I usually go by Ali.
    </p>

    <p class="py-1">
      I'm a frontend-focused engineer and leader at <a href="https://natcapresearch.com/">Natcap</a>. I'm volunteer at <a href="https://codeyourfuture.io/">CodeYourFuture</a>, as a teacher and core maintainer on the Curriculum Team. I enjoy getting outdoors, hiking and Scouting.
    </p>
  </article>

  <nav class="my-5" aria-label="Links">
    <ul class="grid grid-cols-1 md:grid-cols-5 gap-2">
      <li><a href="http://40thiev.es" rel="me" class="block py-4 bg-pastel-green border border-gray-300 text-blue-800 text-center text-xl">Blog</a></li>
      <li><a href="mailto:alasdairsmith100@gmail.com" class="block py-4 bg-pastel-blue border border-gray-300 text-blue-800 text-center text-xl">Email</a></li>
      <li><a href="https://mastodon.social/@fortythieves" rel="me" class="block py-4 bg-pastel-blue border border-gray-300 text-blue-800 text-center text-xl">Mastodon</a></li>
      <li><a href="https://bsky.app/profile/forty-thieves.bsky.social" class="block py-4 bg-pastel-blue border border-gray-300 text-blue-800 text-center text-xl">Bluesky</a></li>
      <li><a href="https://github.com/40thieves" rel="me" class="block py-4 bg-pastel-purple border border-gray-300 text-blue-800 text-center text-xl">GitHub</a></li>
    </ul>
  </nav>
</main>

{{> footer}}
