{{> header showAvatar=true}}

<main id="content" role="main" class="wrap clearfix">
	<section class="about">
		<p>Hi, I'm Alasdair Smith, although I usually go by Ali, and I'm a web developer working in London, UK.</p>

		<p>I'm a web developer for <a href="https://www.overleaf.com">Overleaf</a>, specialising in frontend and advocating for open science. I mentor at <a href="https://codeyourfuture.io/">CodeYourFuture</a>. I enjoy watching F1, Scouting, hiking, camping and playing Ultimate.</p>
	</section>

	<nav class="links">
		<ul>
			<li><a href="http://40thiev.es" id="blog" rel="me">Blog</a></li>
			<li><a href="mailto:alasdairsmith100@gmail.com" id="email">Email</a></li>
			<li><a href="http://twitter.com/40_thieves" id="twitter" rel="me">Twitter</a></li>
			<li><a href="https://github.com/40thieves" id="github" rel="me">Github</a></li>
		</ul>
	</nav>
</main>

{{> footer}}
