<style>
  footer {
    margin-block-start: 4rem;
    border-block-start: 1px solid var(--clr-primary);
    padding: 2rem;
  }

  p {
    font-size: 0.75rem;
    margin: 0;
    max-inline-size: 100%;
  }
</style>

<footer>
  <p>
    <a href="https://github.com/40thieves/alasdairsmith.co.uk">Code</a> released under
    a Parity 6.0 licence.
  </p>
</footer>
