---
import BaseLayout from './base.astro'
import Header from './header.astro'
import Footer from './footer.astro'

const { title } = Astro.props
---

<style is:global>
  /* Expand main to full height of the viewport */
  body {
    display: grid;
    grid-template-rows: min-content auto min-content;
    min-height: 100dvh;
  }
</style>

<BaseLayout title={title}>
  <Header />
  <main>
    <slot />
  </main>
  <Footer />
</BaseLayout>
