---
import BaseLayout from './base.astro'
import Header from './header.astro'
import Footer from './footer.astro'

const { title } = Astro.props
---

<BaseLayout title={title}>
  <Header />
  <main>
    <slot />
  </main>
  <Footer />
</BaseLayout>
